@font-face{
		font-family: sansation_bold;
		src : url(../font/sansation_bold.woff);
}
@font-face{
		font-family: CormorantUpright-Regular;
		src : url(../font/Cormorant_Upright/CormorantUpright-SemiBold.ttf);
}
@font-face{
	font-family: Monoton;
	src: url(../font/Monoton/Monoton-Regular.ttf);
}

*{
	box-sizing: border-box;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

body{
	padding: 0;
	margin: 0;
}
header{
	text-align: center;
	margin: 0;
	font-family:CormorantUpright-Regular;
	font-size: 28px;
	width: 100%;
	background-color: white;
	z-index: 999;
}

header img{
	width: 90%;
}

nav{
	padding: 10px;
	width: 100%;
	background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
	position: sticky;
	top: 0;
}
nav a{
	font-family: Rockwell;
	font-size: 1.5em;
	font-weight: bold;
	color: #eee;
	padding: 15px;
}
nav a:hover{
	background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
	font-size: 1.5em;
	color: white;
}
content{
	height: 100%;
}
#abt{
	width: 70%;
	height: 70%;
	background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
	font-family: Monoton;
	margin: auto;
	opacity: 0.7;
}
/*content{
}*/