@font-face{
		font-family: sansation_bold;
		src : url(../font/sansation_bold.woff);
}
@font-face{
		font-family: CormorantUpright-Regular;
		src : url(../font/Cormorant_Upright/CormorantUpright-SemiBold.ttf);
}
@font-face{
	font-family: Monoton;
	src: url(../font/Monoton/Monoton-Regular.ttf);
}

*{
	box-sizing: border-box;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

body{
	padding: 0;
	margin: 0;
}

.fonty{
	font-family:Monoton;
	font-size: 1.5em;
	padding: 10px 15px 0 15px; 
}
header{
	text-align: center;
	font-family:CormorantUpright-Regular;
	font-size: 28px;
	width: 100%;
	background-color: white;
}

header img{
	width: 90%;
}

nav a{
	font-family: Rockwell;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	color: #eee;
	padding: 15px;
}
nav{
	padding: 10px;
	width: 100%;
	background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
	position: sticky;
	top: 0;
	z-index: 999;
}
nav a:hover:not(.not){
	background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
	color: white;
}

#clk{
	font-family: Rockwell;
	font-weight: bold;
	font-size: 1.5em;
	font-weight: bold;
	color: #eee;
	position:absolute;
	right: 10px;
	top:0;
}
content{
	position: relative;
	width: 80%;
	text-align: justify-all;
	float: left;
	clear: left;
}
#regContent{
	height: 600px;
	width:100%;
	margin-bottom:10px;
	background: linear-gradient(135deg,rgba(237, 248, 239,0.5), #ffffff);
	overflow: auto;
}
#logContent{
	height: 600px;
	width:80%;
	float: right;
	margin-bottom:10px;
	direction: rtl;
	background: linear-gradient(-135deg,rgba(237, 248, 239,0.5), #ffffff);
}
#newsContent{
	height: 600px;
	width:80%;
	clear: both;
	margin-bottom:10px;
	background: linear-gradient(135deg,rgba(237, 248, 239,0.5), #ffffff);
}

aside{
	float: right;	
	width: 20%;
}
aside a{
	font-family: Rockwell;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	color: #eee;
	margin-bottom: 5px;
	background: linear-gradient(-141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
	padding: 10px;
}
aside a:hover{
	color: white;
}

footer{
	background: linear-gradient(141deg, #0fb8ad 20%, #1fc8db 50%, #2cb5e8 75%);
	font-weight: bold;
	width: 100%;
	height: 250px;
	margin-top:10px;
	clear: both;
}
footer a{
	text-decoration: none;
	color: #eee;
	margin-left: 20px;
}
footer a:hover{
	color: white;
}
.ftFont{
	font-family:CormorantUpright-Regular;
	font-size: 1.3em;
	color: #eee;
}
.ftFloat{
	margin: 1px;
	float: right;
	width: 33%;
}
.shady:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transform: scale(1.01,1.01);
}
#subscribe{
	height: 250px;
	width: 100%;
	background-color: rgba(237, 248, 239,0.5);
	font-family:CormorantUpright-Regular;
	font-size: 1.3em;
	padding: 20px 300px 20px 200px;
}
#subscribe input{
	display: block;
}
#subscribe input[type="text"]{
	padding: 10px;
	border:none;
	background-color: rgba(237, 248, 239,0.5);
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px; 
	margin-bottom: 5px;
	font-size: 1.3em;
}
#subscribe input[type="submit"]{
	font-family:CormorantUpright-Regular;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 10px;	
}
#tch{
	position: fixed;
	background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
	right: 0;
	bottom: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}